/* General stuff */
/* 
Images:
https://favicon.io/favicon-generator/
https://unblast.com/free-digital-devices-mockup-psd/
Bing AI
https://unsplash.com/photos/macbook-pro-on-top-of-brown-table-1SAnrIxw5OY
https://www.pexels.com/photo/close-up-shot-of-a-mobile-phone-beside-a-keyboard-and-black-pencil-8490067/

UI: uiverse.com

*/
/* Fonts */
/* 
- Font Title: Poppins
- Font Author: Copyright 2020 The Poppins Project Authors (https://github.com/itfoundry/Poppins)
- Font Source: http://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1tvFP-KUEg.ttf
- Font License: SIL Open Font License, 1.1 (http://scripts.sil.org/OFL)) 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&display=swap");

@font-face {
    font-family: 'Terminus';
    src: url('assets/Terminus.ttf') format('ttf'),
        url('assets/Terminus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    --c-text-dark: black;
    --c-text-light: white;
    --c-btn-outline: rgb(153, 153, 153, 0.3);
    --c-offwhite: #f4f4f4;
    --c-bg: #e8e8e8;
    --c-bg-op: #e8e8e87f;
    /* Green */
    /* --c-primary-light: #88c043;
    --c-primary: #669c33;
    --c-primary-dark: #537d2c; */

    /* Blue */
    --c-primary-light: #5cb0eb;
    --c-primary: #4f9acf;
    --c-primary-dark: #4484b1;

    --c-grayscale-light: #d2d2d2;
    --c-grayscale: #c8c8c8;
    --c-grayscale-dark: #bcbcbc;

    --c-project-secondary: rgb(239, 232, 214);
    --c-project-primary: rgb(248, 243, 232);
    --c-btn-style3-hover: rgb(87, 87, 87);
    /* --c-primary: #b0caa7;
    --c-primary-dark: #9aaf93;
    --c-primary-light: #c2e1b8; */
    --b-outline: rgba(163, 163, 163, 0.3) 0.155rem solid;
    margin: 0;
    padding: 0;
}

::selection {
    /* Change highlight background color to black */
    background: var(--c-primary-light);
    /* Change highlight text color to red */
    color: #eee;
}

::-moz-selection {
    /* Change highlight background color to black */
    background: var(--c-primary-light);
    /* Change highlight text color to red */
    color: #eee;
}

html {
    scroll-behavior: smooth;
}


/* footer */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
    color: #666;
}