/* General stuff */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Tranisition stuffs (no need?) */

a, .btn {
    transition: all 300ms ease;
}

/* All nav menus */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

/* Big nav menu */
.full-nav-menu-items {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Small nav menu */
#mini-nav-menu {
    display: none;
}

.mini-nav-menu {
    position: relative;
    display: inline-block;
}

.mini-nav-menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.mini-nav-menu-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.mini-nav-menu-items {
    position: absolute;
    top: 10%;
    right: 0;
    background-color: white;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;

}

.mini-nav-menu-items a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mini-nav-menu-items li {
    list-style: none;
}

/* 'open' is a class added by js, when hamburger menu is open */
.mini-nav-menu-items.open {
    max-height: 300px;
}
.mini-nav-menu-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.mini-nav-menu-icon.open span:nth-child(2) {
    opacity: 0;
}
.mini-nav-menu-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}
/* closed */
.mini-nav-menu-icon span:first-child {
    transform: none;
}
.mini-nav-menu-icon span:nth-child(2) {
    opacity: 1;
}
.mini-nav-menu-icon span:last-child {
    transform: none;
}

/* All links */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* Logo */
.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */
.profile-btn-spacer {
    padding: 1rem 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    background: rgb(53, 53, 53);
}


.btn-style1-1 {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: rgb(53, 53, 53);
    color: white;
}

.btn-style1-2 {
    position: relative;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-style2-1 {
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 45px;
  box-shadow: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-style2-2 {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-style1-1:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-style1-2:hover {
    transform: scale(1.05);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-style2-1:hover {
    background-color: #669c33;
  box-shadow: 0px 15px 20px #537d2c;
  color: #fff;
  border: #669c33 0.1rem solid;
  transform: translateY(-7px);
}

.btn-style2-2:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn-style1-1:active {
    background-color: #3d94cf;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.btn-style1-2:active {
    transform: scale(0.9);
}

.btn-style2-1:active {
    transform: translateY(-1px);
}

.btn-style2-2:active {
    background-color: #3d94cf;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.btn-style1-2::before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #007bff, #00bfff);
    transition: all 0.4s ease-in-out;
    z-index: -1;
    border-radius: 50px;
}
  
.btn-style1-2:hover::before {
    right: 0;
}

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Experience Section */
#experience {
    position: relative;
}

.experience-subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: left;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Projects Section */

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* Contact Section */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

/* footer */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

