/* General stuff */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8e8e8;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background: rgba(255, 255, 255, 0.2); */
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Tranisition stuffs (no need?) */

a,
.btn {
    transition: all 300ms ease;
}

/* All nav menus */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

/* Big nav menu */
.full-nav-menu-items {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Small nav menu */
#mini-nav-menu {
    display: none;
}

.mini-nav-menu {
    position: relative;
    display: inline-block;
}

.mini-nav-menu-icon-container {
    cursor: pointer;
}

/* .mini-nav-menu-icon input {
    display: none;
} */

.mini-nav-menu-icon {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mini-nav-menu-icon-line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mini-nav-menu-icon-line-style1 {
    stroke-dasharray: 12 63;
}

.mini-nav-menu-icon.open {
    transform: rotate(-45deg);
}

.mini-nav-menu-icon.open .mini-nav-menu-icon-line-style1 {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.mini-nav-menu-items {
    position: absolute;
    top: 12%;
    right: 10%;
    background-color: #f4f4f4;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    border-radius: 1rem;
    transition: all 250ms ease-in-out;
}

.mini-nav-menu-items a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.mini-nav-menu-items li {
    list-style: none;
}

/* 'open' is a class added by js, when hamburger menu is open */
.mini-nav-menu-items.open {
    max-height: 300px;
    padding: 1rem;
}

/* All links */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: #e8e8e8;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* Logo */
.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */
.profile-btn-spacer {
    padding: 1rem 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    background: rgb(53, 53, 53);
}

.btn-style1-1 {
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #669c33;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 1px solid rgb(53, 53, 53);
}

.btn-style1-2 {}

.btn-style2-1 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #e8e8e87f; /* #e8e8e8 */
    border: rgb(53, 53, 53) 0.1rem solid;
    border-radius: 45px;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    /* Glass effect */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.btn-style2-2 {}

.btn-style1-1:hover {
    color: #fff;
    transform: scale(1.1);
    outline: 2px solid #8dc459;
    box-shadow: 4px 5px 17px -4px #537d2c;
}

.btn-style1-2:hover {}

.btn-style2-1:hover {
    background-color: #669c33;
    box-shadow: 0px 15px 20px #537d2c;
    color: #fff;
    border: #669c33 0.1rem solid;
    transform: translateY(-7px);
}

.btn-style2-2:hover {}

.btn-style1-1:active {
    background-color: #537d2c;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.btn-style1-2:active {}

.btn-style2-1:active {
    transform: translateY(-1px);
}

.btn-style2-2:active {}

.btn-style1-1:before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #669c33;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}


.btn-style1-1:hover:before {
    width: 250%;
}



#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.max-width-1600 {
    max-width: 1600px;
}

.max-width-800 {
    max-width: 1000px;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.section-container {
    gap: 4rem;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Experience Section */
#experience {
    position: relative;
}

.experience-subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: left;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* Projects Section */

#projects {
    position: relative;
    min-height: 80vh;
    height: auto;
}

.project-tag {
    background: #e0e0e0;
    color: #8e8e8e;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px;
}

.project-container {
    /* gap: 2rem; */
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.tag-style1 {
    background: rgba(178, 178, 253, 0.25);
    color: #1a41cd;
}

.tag-style2 {
    background-color: rgba(165, 96, 247, 0.25);
    color: rgb(85, 27, 177);
}

.tag-style3 {
    background: rgba(191, 227, 114, 0.25);
    color: #4d7334;
}

.project-tags-container {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    margin: 0 1.5rem;
}

.code-breakdown-bar {
    width: 80%;
    height: 8px;
    display: flex;
    outline: 1px solid #0000;
    overflow: hidden;
    border-radius: 4px;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #e8e8e877; /* #e8e8e8 */
    border-radius: 2rem;
    border: rgba(163, 163, 163, 0.3) 0.125rem solid;
    border-color: rgba(163, 163, 163, 0.3);
    text-align: center;

    /* ------------------------------------------------------------------------------------------------------------ */
    /* Glass effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.color-container {
    border: rgba(163, 163, 163, 0.3) 0.125rem solid;
    background: #e8e8e877; /* #e8e8e8 */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.color-container:hover {
    cursor: default;
    -webkit-box-shadow: 5px 5px 0 #669c33, 10px 10px 0 #537d2c;
    box-shadow: 5px 5px 0 #669c33, 10px 10px 0 #537d2c;
    border: #88c043 0.25rem solid;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);

}

.color-container:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* Contact Section */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 74vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: #e8e8e875;
    margin: 2rem auto;
    padding: 0.5rem;

    /* Glass effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}

/* footer */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}