/* ######################## */
/* Profile Section Specific */
/* ######################## */
#profile {
    padding-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
    min-height: 90vh !important;
}

/* Credit: https://codepen.io/Valgo/pen/PowZaNY */
#morph-container {
    /* Center the text in the viewport. */
    position: relative;
    margin: auto;

    /* width: 100vw; */
    height: 96pt;
    text-align: center;
    /* top: 30%;
    right: calc(7vh * 2 + 33%); */
    /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
    filter: url(#threshold) blur(0.6px);

}

/* Your average text styling */
#morph-text1,
#morph-text2 {
    color: var(--c-primary);
    position: absolute;
    /* left: 50%; */
    transform: translateX(-50%);
    /* top: 30%; */
    /* left: -5vw; */
    /* width: 100%; */
    display: inline-block;

    font-family: 'PP Eiko';
    font-size: 96pt;

    text-align: center;

    -webkit-user-select: none;
    user-select: none;
}

#morph-filters {
    display: none;
}

/* Decorations */
.svg-squiggle {
    position: absolute;
    left: 5%;
    top: 13%;
    width: 120px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
    transform: rotate(15deg);
}

.svg-scribble {
    position: absolute;
    right: 9%;
    bottom: 10%;
    width: 200px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
    /* transform: rotate(15deg); */
}

.svg-arrow {
    position: absolute;
    right: 5%;
    top: 15%;
    width: 150px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
    /* transform: rotate(15deg); */
}

#socials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-right: 2rem;
    gap: 1rem;
}

#socials-container-below {
    display: none;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0rem;
    gap: 1rem;
}

#socials-container-below img,
#socials-container img {
    cursor: pointer;
}

.profile-pic {
    transition: all 300ms ease 0s;
    transform: scale(0);
}

.profile-pic.in-view {
    transform: scale(1);
}

.profile-btn-spacer {
    padding: 1rem 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile-intro-text-container {
    text-align: center;
    overflow: wrap;
    text-wrap: balance;
    max-width: 500px;
    position: relative;
    margin: 3rem 0;
    overflow: hidden;
    /* position: relative; */

}

.profile-intro-text-container p {
    transform: translateY(100%);
    transition: all 300ms ease 0s;
    margin: 0 !important;
}

.profile-intro-text-container .in-view {
    transform: translateY(0);
}

.mouse-scroll-icon-container {
    position: absolute;
    bottom: 3.5rem;
    text-align: center;
    cursor: pointer;
}

.mouse-scroll-icon-container img {
    width: 50px;
}


@media screen and (max-width: 1600px) {
    .svg-arrow {
        top: 2%;
        right: 2%;
        transform: rotate(-35deg);
    }

    .svg-scribble {
        right: -5%;
        bottom: 5%;
        width: 150px;
    }

    .svg-squiggle {
        left: 2%;
        top: 5%;
        width: 100px;
    }

    #morph-text1,
    #morph-text2 {
        font-size: 70pt;
    }

    #morph-container {
        height: 70pt;
    }
}

@media screen and (max-width: 1400px) {
    .btn-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #socials-container {
        display: none;
    }

    #socials-container-below {
        display: flex;
    }

    #text1,
    #text2 {
        font-size: 50pt;
    }

    #profile {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        vertical-align: center;
        align-items: center;
    }

    /* the profile quick intro text */
    .profile-intro-text-container {
        margin: 2.5rem 1.5rem !important;
    }

    /* the profile morph text container */
    .section__text {
        margin: 0 7vw 0 8vw;
    }

    .section__pic-container {
        width: 375px;
        height: 375px;
        margin: 0 auto 2rem;
        /* padding-top: 3rem; */
    }

    .svg-arrow {
        top: 2%;
        right: 2.5%;
        transform: rotate(-45deg);
    }

    .mouse-scroll-icon-container {
        position: relative;
        bottom: 0;
    }
}

@media screen and (max-width: 900px) {
    .profile-pic {
        /* width: min(40vh, 29vw); */
        height: min(40vh, 35vw);
    }

    .svg-arrow {
        top: 2rem;
        right: 3rem;
        width: 100px;
    }

    .svg-scribble {
        display: none;
    }

    .svg-squiggle {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .profile-pic {
        /* width: min(40vh, 29vw); */
        height: min(40vh, 50vw);
    }

    .svg-arrow {
        display: none;
    }

    .section__pic-container {
        width: auto;
        height: min(40vh, 50vw);
        justify-content: center;
    }

    .profile-btn-spacer {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {

    #morph-text1,
    #morph-text2 {
        font-size: 50pt;
    }

    #morph-container {
        height: 50pt;
    }



}

@media screen and (max-height: 700px) {

    .section__pic-container {
        padding-top: 3rem;
    }

    #profile {
        margin-bottom: 6rem;
    }
}

@media screen and (max-height: 950px) and (max-width: 1200px) {
    .mouse-scroll-icon-container {
        display: none;
    }
}