#projects {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    height: auto;
}

.project-tag {
    background: #e0e0e0;
    color: #8e8e8e;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px;
}

.tag-style1 {
    background: rgba(178, 178, 253, 0.25);
    color: #1a41cd;
}

.tag-style2 {
    background-color: rgba(165, 96, 247, 0.25);
    color: rgb(85, 27, 177);
}

.tag-style3 {
    background: rgba(191, 227, 114, 0.25);
    color: #4d7334;
}

.project-tags-container {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    margin: 0 1.5rem;
}

.code-breakdown-bar {
    width: 80%;
    height: 8px;
    display: flex;
    outline: 1px solid #0000;
    overflow: hidden;
    border-radius: 4px;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
}

.project-swiper {
    padding: 3rem 0;
    width: 90%;
    --mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.swiper-nav-button {
    transform: translateY(100%);
    color: var(--c-primary);
}

.swiper-project-pagination {
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    line-height: 15px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    transition: all 300ms ease 0s;
}

.swiper-pagination-bullet-active {
    background: #363636;
}

.project-card-slide {
    margin: 5rem 0;
    margin-left: 25px;
    /* max-width: 400px; */
}

.project-card-container {
    width: 450px;
    height: 450px;
    background-color: var(--c-sticky-note);
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
    text-align: center;
    cursor: pointer;
    margin: 1rem;
    --rotation: 0deg;
    transform: rotate(var(--rotation));
}

.project-card-container:hover {
    -webkit-transform: scale(1.1) rotate(0);
    -ms-transform: scale(1.1) rotate(0);
    transform: scale(1.1) rotate(0);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
}

.project-card-container:active {
    /* -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); */
}

.project-card-top {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.project-title {
    color: var(--c-primary);
    font-weight: 600;
    font-size: 1.75rem;
    text-align: left;
    margin: 1.5rem 1.5rem 0 1.5rem;
}

.project-card-text {
    /* font-family: "Reenie Beanie", cursive; */
    font-family: "Caveat", cursive;
    font-size: 1.3rem;
    text-align: left;
    margin: 1rem 1.5rem;
}

.project-thumbnail {
    flex-shrink: 0;
    border-radius: 9%;
    width: 20%;
    height: 20%;
    margin: 1.5rem 1.5rem 0 0;
}

/* Decorations */
.svg-squiggle-project {
    position: absolute;
    right: 5%;
    bottom: 2%;
    width: 100px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
    transform: rotate(15deg);
}

.svg-scribble-project {
    position: absolute;
    left: 9%;
    top: 12%;
    width: 65px;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
    /* transform: rotate(15deg); */
}

@media screen and (max-width: 2400px) {
    .project-card-container {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 2000px) {
    .project-card-container {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 1770px) {
    .project-card-container {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 1600px) {
    .project-card-container {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 1300px) {
    .project-card-container {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 940px) {
    .project-card-slide {
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 640px) {

    .swiper-nav-button {
        display: none;
    }

    .project-card-text {
        display: none;
    }

    .project-swiper {
        mask: none;
    }

    #projects {
        margin: 0;
    }

    .project-card-container {
        width: 300px;
        height: 300px;
    }

    .project-title {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1200px) {
    .svg-squiggle-project {
        position: absolute;
        right: 5%;
        bottom: 2%;
        width: 70px;
    }

    .svg-scribble-project {
        position: absolute;
        left: 5%;
        top: 12%;
        width: 35px;
    }
}

@media screen and (max-width: 600px) {
    .svg-squiggle-project {
        display: none;
    }

    .svg-scribble-project {
        display: none;
    }
}