.btn {
    transition: all 300ms ease 0s;
}

.btn-style3 {
    padding: 0.5em 1.3em;
    font-size: 15px;
    /* text-transform: uppercase; */
    /* letter-spacing: 0.25px; */
    font-weight: 500;
    color: var(--c-primary);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 45px;
    transition: all 300ms ease 0s;
    cursor: pointer;
    outline: none;
    border: var(--c-primary) 1px solid;
}

.btn-style3:hover {
    /* var(--c-primary) */
    background-color: var(--c-primary);
    color: var(--c-text-light);
    border: var(--c-primary) 1px solid;
    text-decoration: none;
}

.btn-style3:hover img {
    filter: invert(1);
}

.btn-style3 img {
    transition: all 300ms ease 0s;
}