/* 
@media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones }
@media (min-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops } 
*/
@media screen and (max-width: 1600px) {
    #full-nav-menu {
        display: none;
    }

    #mini-nav-menu {
        display: flex;
    }
}

@media screen and (max-width: 1200px) {

    .svg-endcap-left,
    .svg-endcap-right {
        width: 100px;
    }

    h1 {
        font-size: 35pt;

    }

    h2 {
        font-size: 30pt;
    }

    h3 {
        font-size: 15pt;
    }

    .gray-text {
        margin: 0 1.5rem;
    }

    section {
        height: fit-content;
        min-height: 100vh;
    }

    section {
        margin: 0 5%;
    }
}

@media screen and (max-width: 900px) {
    #footer-nav-menu {
        transform: scale(0.75);
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: 40vh;
    }

    #footer-nav-menu ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-endcaps {
        display: none;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .title {
        font-size: 2rem;
    }
}