body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--c-bg);
    background-image: url('./assets/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background: rgba(255, 255, 255, 0.2); */
    /* border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.gray-text {
    color: rgb(85, 85, 85);
}

/* Tranisition stuffs (no need?) */

a {
    transition: all 300ms ease 0s;
}

/* All nav menus */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

/* Big nav menu */
#full-nav-menu {
    overflow: hidden;
    z-index: 998;
}

.full-nav-menu-items {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* Small nav menu */
#mini-nav-menu {
    display: none;
}

.mini-nav-menu {
    position: relative;
    display: inline-block;
}

.mini-nav-menu-icon-container {
    cursor: pointer;
}

.mini-nav-menu-icon {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mini-nav-menu-icon-line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mini-nav-menu-icon-line-style1 {
    stroke-dasharray: 12 63;
}

.mini-nav-menu-icon.open {
    transform: rotate(-45deg);
}

.mini-nav-menu-icon.open .mini-nav-menu-icon-line-style1 {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.mini-nav-menu-items {
    position: absolute;
    top: 12vh;
    right: 15vw;
    background-color: #f4f4f4;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    border-radius: 1rem;
    transition: all 300ms ease 0s;
    z-index: 999;
}

.mini-nav-menu-items a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

.mini-nav-menu-items li {
    list-style: none;
}

/* 'open' is a class added by js, when hamburger menu is open */
.mini-nav-menu-items.open {
    max-height: 300px;
    padding: 1rem;
}

/* All links */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: var(--c-bg);
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

/* Logo */
.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Sections */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: -moz-fit-content;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */
.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */
.profile-btn-spacer {
    padding: 1rem 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



#about {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    height: auto;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.max-width-1600 {
    max-width: 1600px;
}

.max-width-1000 {
    max-width: 1000px;
}

.max-width-800 {
    max-width: 800px;
}

.max-width-400 {
    max-width: 400px;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.profile-pic {
    border-radius: 50%;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.section-container {
    gap: 4rem;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Experience Section */
#experience {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    height: auto;
}

.experience-subtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}

.skill-tags-container {
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-evenly;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1.5rem 1.5rem;
}

article {
    display: flex;
    width: 10rem;
    justify-content: left;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

.skill-tag {
    background: #e0e0e0;
    color: #8e8e8e;
    text-align: center;
    flex-direction: column;
    padding: 0.3em 0.7em;
    border-radius: 15px;
}

.tag-title {
    font-weight: bold;
    font-size: 14px;
}

.tag-subtitle {
    font-size: 12px;
    letter-spacing: -0.6px;
}

.tag-body {
    font-size: 10px;
    letter-spacing: -0.6px;
}

/* Projects Section */

#projects {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    height: auto;
}

.project-tag {
    background: #e0e0e0;
    color: #8e8e8e;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px;
}

.project-container {
    /* gap: 2rem; */
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.tag-style1 {
    background: rgba(178, 178, 253, 0.25);
    color: #1a41cd;
}

.tag-style2 {
    background-color: rgba(165, 96, 247, 0.25);
    color: rgb(85, 27, 177);
}

.tag-style3 {
    background: rgba(191, 227, 114, 0.25);
    color: #4d7334;
}

.project-tags-container {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    place-content: flex-start;
    margin: 0 1.5rem;
}

.code-breakdown-bar {
    width: 80%;
    height: 8px;
    display: flex;
    outline: 1px solid #0000;
    overflow: hidden;
    border-radius: 4px;
    background-color: #b3b3b3;
    color: white;
    text-align: center;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
}

.color-container {
    border: var(--b-outline);
    background: var(--c-bg-op);
    /* var(--c-bg) */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    /* var(--c-bg) */
    border-radius: 2rem;
    text-align: center;

    /* ------------------------------------------------------------------------------------------------------------ */
    /* Glass effect */
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.color-container:hover {
    cursor: default;
    border: var(--c-primary-light) 0.155rem solid;

}

.color-container:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.translate-container {
    border: var(--b-outline);
    background: var(--c-bg-op);
    /* var(--c-bg) */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    /* var(--c-bg) */
    border-radius: 2rem;
    text-align: center;

    /* ------------------------------------------------------------------------------------------------------------ */
    /* Glass effect */
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.translate-container:hover {
    cursor: default;
    -webkit-box-shadow: 5px 5px 0 var(--c-primary), 10px 10px 0 var(--c-primary-dark);
    box-shadow: 5px 5px 0 var(--c-primary), 10px 10px 0 var(--c-primary-dark);
    border: var(--c-primary-light) 0.25rem solid;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);

}

.translate-container:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.translate2-container {
    border: var(--b-outline);
    background: var(--c-bg-op);
    /* var(--c-bg) */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    /* var(--c-bg) */
    border-radius: 2rem;
    text-align: center;

    /* ------------------------------------------------------------------------------------------------------------ */
    /* Glass effect */
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.translate2-container:hover {
    cursor: default;
    -webkit-box-shadow: 5px 5px 0 var(--c-grayscale), 10px 10px 0 var(--c-grayscale-dark);
    box-shadow: 5px 5px 0 var(--c-grayscale), 10px 10px 0 var(--c-grayscale-dark);
    border: var(--c-grayscale-light) 0.25rem solid;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);

}

.translate2-container:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.hover-container {
    border: var(--b-outline);
    background: var(--c-bg-op);
    /* var(--c-bg) */
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;

    /* var(--c-bg) */
    border-radius: 2rem;
    text-align: center;

    /* ------------------------------------------------------------------------------------------------------------ */
    /* Glass effect */
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.hover-container:hover {
    /* transform: scale(1.05); */
    /* outline: 2px solid var(--c-primary-light); */
    -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.215);
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.215);

    cursor: default;

    /* border: var(--c-primary-light) 0.25rem solid; */
}

.hover-container:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.job-thumbnail {
    border-radius: 2rem;
    width: 128px;
    height: 128px;
    margin-right: 1.5rem;
}

.project-thumbnail {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* Contact Section */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 74vh;
    height: auto;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
    border: var(--b-outline);
    background: #e8e8e875;
    margin: 2rem auto;
    padding: 0.5rem;

    /* Glass effect */
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    height: 2rem;
}