.slide-transition {
    position: fixed;
    left: -100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--c-project-secondary);
    transition: all 300ms ease 0s;
}

.slide-transition.is-active {
    left: 0px;
}

.animate-on-view {
    /* transition: all 300ms ease 0s; */
    transition-delay: 200ms !important;
}

.no-animate-on-view {
    transform: translateY(0) !important;
}